<h1>Listing alfreds</h1>

<table>
  <thead>
    <tr>
      <th>Alfred</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alfreds.each do |alfred| %>
      <tr>
        <td><%= alfred.alfred %></td>
        <td><%= link_to 'Show', alfred %></td>
        <td><%= link_to 'Edit', edit_alfred_path(alfred) %></td>
        <td><%= link_to 'Destroy', alfred, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alfred', new_alfred_path %>
